// .active1{
//     color:blue;
// }
// a{
//     cursor: pointer;
   
// }

#tab{
    cursor:pointer
}

#tab:hover{
    font-weight: 400;
    border-bottom: 2px solid rgb(89, 89, 252);

}

.act{
    
    
    // text-shadow: 1px 10px 3px rgb(231, 50, 50);
    // text-shadow: -3px -3px 5px red;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    // font-family: fantasy;
    border-bottom: 4px solid rgb(100, 21, 247);
    
    
    
    
}



#bor:hover{
    border-color: #5047f3 !important
}

.image-container img{
transition: transform 0.3s;
}

.image-container:hover img{
    transform: scale(1.2);
}