// .active1{
//     color:blue;
// }
// a{
//     cursor: pointer;
   
// }

#tab{
    cursor:pointer
}

#tab:hover{
    font-weight: 400;
    border-bottom: 2px solid rgb(89, 89, 252);

}

.act{
    color: solid red;
    font-weight: 500;
    border-bottom: 4px solid blue($color: #6a62fb);
}

#bor:hover{
    border-color: #5047f3 !important
}

.image-container img{
transition: transform 0.3s;
}

.image-container:hover img{
    transform: scale(1.2);
}