<div class="container text-center">
    <h3>Login</h3>
    <form action="">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div><div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          
    </form>
    <button class="btn btn-outline-success w-75">Login</button>
    <button class="btn btn-outline-success w-75 mt-2 " (click)="loadSignup()">SignUP</button>
</div>