<div class="container mt-5">
    <h2 style="color: teal;">Search hotels</h2>
    <h5>Enjoy hassle free bookings with makeMyTrip!</h5>

    <div class="border shadow container ">

        <div class="col-md-12 d-flex">
            <div class="mb-3 mt-3 col-md-4 ">
                <label for="exampleFormControlInput1" class="form-label">City Name</label>
                <input type="text" class="form-control" id="id1" placeholder="Enter City to flourish yourself">
              </div>
    
              <div class="mb-3 mt-3 col-md-4">
    
              </div>
    
              <div class="mb-3 mt-3 col-md-4">
                <label class="form-label" for="rooms">Rooms</label>
                <select name="rooms"class="form-select" aria-label="Default select example">
                    <option selected>Select Rooms</option>
                    <option value="1">1 Room, 2 Adult</option>
                    <option value="2">2 Room, 4 Adult</option>
                    <option value="3">1 Room, 2 Adult, 1 Child</option>
                  </select>
              </div>

        </div>
        <button class="btn btn-success">Search</button>

          

          
    </div>

    

</div>