<div class="container container-fluid border rounded-pill shadow-lg w-75 mt-5 bg-transparent">

    
      
    
      
        <ul class=" me-auto mt-3 d-flex justify-content-around text-center">
          <li class="" routerLink = "/hotels" routerLinkActive="active">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/3009/3009489.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class=""   aria-current="page">Hotels</a>
           </div> 
          </li>
         
          <li class="" routerLink="/flights" routerLinkActive="active">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/913/913368.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class="" aria-current="page">flights</a>
           </div> 
          </li>
         
          <li class="">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/741/741411.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class="" aria-current="page">Bus</a>
           </div> 
          </li>
         
          <li class="">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/1278/1278094.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class="" aria-current="page">Cabs</a>
           </div> 
          </li>
         
          <li class="">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/4967/4967174.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class="" aria-current="page">Train</a>
           </div> 
          </li>
         
          <li class="">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/5189/5189457.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class="" aria-current="page">Homestays</a>
           </div> 
          </li>
         
          <li class="">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/7603/7603162.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class="" aria-current="page">Holiday</a>
           </div> 
          </li>
         
          <li class="">
            <img class="mb-2" id="navicon" height="50" width="50" src="https://cdn-icons-png.freepik.com/256/2603/2603735.png?ga=GA1.1.1363444108.1694452959&semt=ais_hybrid" alt="">
           <div id="iconNav">
            <a class="" aria-current="page">Insurance</a>
           </div> 
          </li>
         
          
          
        </ul>
    
    
  

</div>

