<div class="container w-75">
    
    <form action="">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
          </div>

          <div *ngIf="getotpclicked">
            <label for="mobile" class="form-label">Mobile</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="mobile" placeholder="Mobile" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="getotp()" (click)="toggleotp()">Get OTP</button>
            </div>
          </div>

          <div *ngIf="otpmatched">
           

              <label for="mobile" class="form-label">Enter OTP</label>
              <div class="input-group mb-3">
                <input [disabled]="verifyok1" type="password" class="form-control" id="mobile" name="enteredotp" [(ngModel)] = "enteredotp"
                  placeholder="Enter OTP" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button *ngIf="verifyok" class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="verifyotp()">Verify OTP</button>
                <div style="height: 50; width: 50;" *ngIf="verifyok1"><i class="bi bi-check-lg btn btn-outline-success" ></i></div>
               <div class="btn btn-outline-success">{{interval}}</div>
              </div>
           
          </div>
    </form>

    <div class="text-center">
      <button class="btn btn-outline-success w-75">SignUP</button>
      <button class="btn btn-outline-success w-75 mt-2 " (click)="clicklogin()" >login</button>

    </div>
</div>